.grid-container {
  display: grid;
  grid-template-areas: "header header header"
                       ". create-todo ."
                       "todo doing done"
                       "footer footer footer";
  grid-template-columns: repeat(auto-fill, 33.3%);
  grid-template-rows: auto;
}


header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.create-todo {
  grid-area: create-todo;
}

.todo {
  grid-area: todo;

}

.doing {
  grid-area: doing;
}

.done {
  grid-area: done;
}
