<div class="create-todo">
  <fieldset>
    <legend>Criar tarefa</legend>
    <div id="wait" class="terminal-alert terminal-alert-error">
      Aguarde o carregamento das tarefas!
    </div>
    <form action="index.html" method="post">
      <div class="form-group">
        <label for="name">Nome da tarefa:</label>
        <input type="text" name="name" value="" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="desc">Descrição da tarefa:</label>
        <textarea name="desc" rows="8" cols="20" autocomplete="off"></textarea>
      </div>
      <div class="form-group">
        <label for="urgent">Tarefa urgente:</label>
        <input type="checkbox" name="urgent" value="" autocomplete="off">
      </div>
      <div class="form-group">
        <input id='submit' class="btn btn-primary btn-block" type="button" name="" value="Enviar!">
      </div>
    </form>
  </fieldset>
</div>
