<header>
  <div class="container">
    <div class="terminal-nav">
      <div class="terminal-logo">
        <div class="logo terminal-prompt">
          {% if current_user.is_authenticated %}
            <a href="#">Olar {{ current_user.name }}!</a>
          {% else %}
            <a href="#">Desafio selenium</a>
          {% endif %}
        </div>
      </div>

      <nav class="terminal-menu">
        <ul>
          {% if current_user.is_authenticated %}
            <li>
              <form action="logout" method="post">
                <input class="btn-header" type="submit" value="#sair"/>
              </form>
            </li>
          {% else %}
            <li><a href="/register">#cadastro</a></li>
            <li><a href="/login">#entrar</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
