      <header>
        <div class="terminal-nav">
          <div class="terminal-logo">
            <div class="logo terminal-prompt">
              <a href="#" class="no-style">Desafio selenium</a>
            </div>
          </div>
          <nav class="terminal-menu">
            <ul>
              <li>
                <a href="/register">Cadastro</a>
              </li>
              <li>
                <a href="/login">Entrar</a>
              </li>

              <li>
                <!-- TODO: Adicionar if para sair só quando estiver logado -->
                <form action="logout" method="post">
                  <input class="btn-header"type="submit" value="Sair">
                </form>
              </li>
            </ul>
          </nav>
        </div>
      </header>
