    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
    <link rel="stylesheet" href={{url_for('static', filename='css/grid.css')}}/>
    <script type="text/javascript"
      src={{url_for('static', filename='js/brython.js')}}>
    </script>
    <script type="text/javascript"
      src={{url_for('static', filename='js/brython_stdlib.js')}}>
    </script>
    <script type="text/python"
      src={{url_for('static', filename='scripts/todo.py')}}>
    </script>
