<link rel="stylesheet" href={{url_for('static', filename='css/normalize.css')}}/>
<link rel="stylesheet" href={{url_for('static', filename='css/terminal.min.css')}}/>
<link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}/>
<link rel="stylesheet" href={{url_for('static', filename='css/grid.css')}}/>
<script type="text/javascript"
  src={{url_for('static', filename='js/brython.js')}}>
</script>
<script type="text/javascript"
  src={{url_for('static', filename='js/brython_stdlib.js')}}>
</script>
