<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    {% include 'imports.html' %}
    <script type="text/python"
      src={{url_for('static', filename='scripts/login.py')}}>
    </script>
  </head>
  <body onload="brython()" class="terminal">
    <div class="grid-container">
      {% include 'header.html' %}
      <div class="create-todo">
        <fieldset>
          <legend>login</legend>
          <form class="" action="#" method="post">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" name="email">
            </div>
            <div class="form-group">
              <label for="senha">Senha:</label>
              <input type="password" name="senha">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-block" value="Login">
            </div>
          </form>
        </fieldset>
      </div>
      {% include 'footer.html' %}
    </div>
  </body>
</html>
