<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TODO Page</title>
    {% include 'imports.html' %}
    <script type="text/python">
      from browser import ajax
      ajax.get('/tasks', oncomplete=get_todos)
    </script>
  </head>
  <body onload="brython()" class="terminal">
    <div class="grid-container">
      {% include 'header.html' %}
      {% include 'comp_create.html'%}
      {% include 'comp_todo.html'%}
      {% include 'comp_doing.html'%}
      {% include 'comp_done.html'%}
      </main>
      {% include 'footer.html' %}
    </div>
  </body>
</html>
